.edit-activation-key-modal {
  .enable-editing {
    label {
      font-size: @smallFontSize;
      text-transform: uppercase;
    }

    textarea {
      display: block;
      margin-top: 5px;
      // final size TBD, based on activation key length
      min-height: 150px;
      max-height: 150px;
      min-width: 580px;
      max-width: 580px;
    }
  }

  .show-test-results {
    .label-and-value-list {
      td:first-child {
        width: 135px;
      }
    }
  }
}