.inline-icon {
  height: 16px;
  width: 16px;
  position: relative;
  top: 2px;

  &.after-text {
    margin-left: 5px;
  }

  &.before-text {
    margin-right: 5px;
  }

  &.info-link {
    height: 14px;
    width: 14px;
  }
}