body {
  background: #fff;
  color: #333;
  cursor: default;
  font: 14px/1.36 'Open Sans', sans-serif;
}
header {
  background: #007dc5;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 51px;
}
header .branding {
  position: absolute;
  top: 8px;
  left: 20px;
}
header .branding .pelco {
  height: 25px;
  position: absolute;
  top: 6px;
  left: 0px;
}
header .branding .logo {
  width: 70px;
  position: absolute;
  top: 0px;
  left: 135px;
}
header .branding .name {
  height: 28px;
  position: absolute;
  top: 4px;
  left: 220px;
}
header .user {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}
nav {
  display: none;
  background: #f5f5f5;
  position: fixed;
  top: 51px;
  right: 0;
  left: 0;
  height: 36px;
}
nav ul {
  display: block;
  list-style: none;
  margin: 4px 0 0 0;
  padding: 0;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  color: #666;
  font: 14px/1.36 'Open Sans', sans-serif;
  padding: 7px 20px;
  text-decoration: none;
}
nav ul li a:hover {
  background: #e5e5e5;
  cursor: pointer;
}
nav ul li a:active {
  background: #fff;
  color: #007dc5;
  cursor: pointer;
}
nav ul li a.active {
  background: #fff;
  color: #007dc5;
}
main {
  background: #fff;
  position: fixed;
  top: 61px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  padding: 5px;
}
main > div {
  height: 100%;
  width: 100%;
}
section {
  background: #fff;
  border: 1px solid #e5e5e5;
  margin: 5px;
}
section .section-header {
  background: #f5f5f5;
  color: #666;
  font-size: 12.5px;
  padding: 5px 12px;
  text-transform: uppercase;
}
section .section-content {
  padding: 15px;
}
div {
  font: 14px/1.36 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}
p {
  font: 14px/1.36 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}
.page-title {
  color: #333;
  font: 16px/1.36 'Open Sans', sans-serif;
  font-weight: 600;
  margin: 5px 15px;
  width: 95%;
}
.page-subtitle {
  color: #666;
  font: 12.5px/1.36 'Open Sans', sans-serif;
  margin: 5px 15px;
  width: 95%;
}
.caption {
  font-size: 12.5px;
  font-style: italic;
}
/***   GRAYS   ***/
/***   COLORS   ***/
/***   FONTS   ***/
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
}
/***   BODY  ***/
/***   HEADER   ***/
/***   NAV   ***/
/***   MAIN   ***/
/***   SECTION   ***/
/***   ELEMENTS (alphabetical)   ***/
button,
.button {
  background: #007dc5;
  color: #eee;
}
.button-muted {
  background: none;
  color: #007dc5;
}
button,
.button,
.button-muted {
  border: 1px solid #007dc5;
  border-radius: 14px;
  font: 14px/1.36 'Open Sans', sans-serif;
  display: inline-block;
  padding: 4px 12px;
  text-decoration: none;
}
button:focus,
.button:focus,
.button-muted:focus {
  border-color: #007dc5;
}
button:hover,
.button:hover,
.button-muted:hover {
  background: #00629c;
  border-color: #007dc5;
  color: #fff;
  cursor: pointer;
}
button:active,
.button:active,
.button-muted:active {
  background: #0c5480;
  border-color: rgba(0, 125, 197, 0.14);
  color: #fff;
  cursor: pointer;
}
button:disabled,
.button:disabled,
.button-muted:disabled,
button.disabled,
.button.disabled,
.button-muted.disabled {
  background: none;
  border-color: #aaa;
  color: #aaa;
  cursor: not-allowed;
}
.button-row-centered {
  text-align: center;
}
.button-row-centered button,
.button-row-centered .button,
.button-row-centered .button-muted {
  margin: 0 5px;
}
.button-row-left {
  text-align: left;
}
.button-row-left button,
.button-row-left .button,
.button-row-left .button-muted {
  margin-right: 10px;
}
.button-row-right {
  text-align: right;
}
.button-row-right button,
.button-row-right .button,
.button-row-right .button-muted {
  margin-left: 10px;
}
input[type=date] {
  background: #fbfdfe;
  border: 1px solid #e5e5e5;
  color: #333;
  font: 14px/1.36 'Open Sans', sans-serif;
  padding: 2px 8px;
  width: 200px;
}
input[type=number],
input[type=password],
input[type=text],
textarea {
  background: #fbfdfe;
  border: 1px solid #e5e5e5;
  color: #333;
  font: 14px/1.36 'Open Sans', sans-serif;
  padding: 3px 8px;
  width: 200px;
}
input[type=number]::placeholder,
input[type=password]::placeholder,
input[type=text]::placeholder,
textarea::placeholder {
  color: #aaa;
  font-style: italic;
}
input[type=number]:-ms-input-placeholder,
input[type=password]:-ms-input-placeholder,
input[type=text]:-ms-input-placeholder,
textarea:-ms-input-placeholder,
input[type=number]::-ms-input-placeholder,
input[type=password]::-ms-input-placeholder,
input[type=text]::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #aaa;
  font-style: italic;
}
select {
  background: #fbfdfe;
  border: 1px solid #e5e5e5;
  color: #333;
  font: 14px/1.36 'Open Sans', sans-serif;
  padding: 2px 6px;
}
.label-and-input-list {
  display: table;
}
.label-and-input-list .row {
  display: table-row;
}
.label-and-input-list .row label {
  display: table-cell;
  font-size: 12.5px;
  padding: 5px;
  text-align: left;
  text-transform: uppercase;
}
.label-and-input-list .row input,
.label-and-input-list .row select {
  display: table-cell;
  margin: 5px;
}
.label-and-input-list .row input[type=checkbox],
.label-and-input-list .row input[type=radio] {
  position: relative;
  top: 2px;
}
.label-and-input-list .row .never-editable {
  display: table-cell;
  padding: 9px 5px;
  text-align: left;
}
.paging .jump-to-page {
  background: #fff;
  border: none;
  color: inherit;
  font-size: 12.5px;
  padding: 2px 5px;
  text-align: center;
  width: 20px;
}
.inline-icon {
  height: 16px;
  width: 16px;
  position: relative;
  top: 2px;
}
.inline-icon.after-text {
  margin-left: 5px;
}
.inline-icon.before-text {
  margin-right: 5px;
}
.compact-list .inline-icon {
  height: 14px;
  width: 14px;
  top: 1px;
  vertical-align: inherit;
}
a {
  color: #007dc5;
  cursor: pointer;
  display: inline-block;
  font: 14px/1.36 'Open Sans', sans-serif;
  text-decoration: none;
}
a:hover {
  color: #00629c;
}
a:active {
  color: #0c5480;
}
.breadcrumb {
  color: inherit;
  font: inherit;
}
.breadcrumb,
.highlight-clickable-text {
  cursor: pointer;
  margin: -1px -5px;
  padding: 1px 5px;
  border-radius: 8px;
}
.breadcrumb:hover,
.highlight-clickable-text:hover {
  background: rgba(0, 125, 197, 0.07);
}
.breadcrumb:active,
.highlight-clickable-text:active {
  background: rgba(0, 125, 197, 0.14);
}
.highlight-clickable-icon {
  cursor: pointer;
  margin: -6px;
  padding: 6px;
  border-radius: 14px;
}
.highlight-clickable-icon:hover {
  background: rgba(0, 125, 197, 0.07);
}
.highlight-clickable-icon:hover img {
  filter: brightness(79%);
}
.highlight-clickable-icon:active {
  background: rgba(0, 125, 197, 0.14);
}
.highlight-clickable-icon:active img {
  filter: hue-rotate(1deg) saturate(83%) brightness(69%);
}
.highlight-clickable-icon.not-blue:hover img,
.highlight-clickable-icon.not-blue:active img {
  filter: none;
}
.highlight-clickable-icon.after-text {
  margin-left: 5px;
}
.highlight-clickable-icon.before-text {
  margin-right: 5px;
}
.highlight-clickable-icon.info-link {
  height: 14px;
  width: 14px;
}
.highlight-clickable-icon.info-link img {
  height: 14px;
  width: 14px;
}
.compact-list .highlight-clickable-icon {
  height: 14px;
  width: 14px;
  margin-top: -4px;
  vertical-align: inherit;
}
.compact-list .highlight-clickable-icon img {
  height: 14px;
  width: 14px;
  vertical-align: top;
}
#modal {
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
}
#modal .modal-dialog {
  background: #fff;
  border: 3px solid #007dc5;
  margin: auto;
  padding: 20px;
  position: relative;
  top: 75px;
}
#modal .modal-dialog.small {
  width: 350px;
}
#modal .modal-dialog.medium {
  width: 600px;
}
#modal .modal-dialog.large {
  width: 900px;
}
#modal .modal-dialog .modal-title {
  color: #007dc5;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}
#modal .modal-dialog .modal-body {
  margin-bottom: 25px;
}
#modal .modal-dialog .modal-buttons {
  text-align: right;
}
#modal .modal-dialog .modal-buttons button,
#modal .modal-dialog .modal-buttons .button,
#modal .modal-dialog .modal-buttons .button-muted {
  margin: 0 0 0 10px;
}
::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
::-webkit-scrollbar-corner {
  background: #f5f5f5;
}
::-webkit-scrollbar-thumb {
  background: #bbb;
  border: 1px solid #f5f5f5;
}
::-webkit-scrollbar-track {
  background: #f5f5f5;
}
textarea::-webkit-scrollbar {
  width: 12px;
}
table {
  border-collapse: collapse;
  font: 14px/1.36 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}
/* .grid-group is based on existing pattern in VX.
 * It's a complex table with table actions on left and details about current selection on right. */
.grid-group {
  border: 1px solid #e5e5e5;
  display: flex;
  flex-flow: row nowrap;
  margin: 5px;
}
.grid-group .table-actions {
  flex: 0;
  min-width: 250px;
  overflow: auto;
}
.grid-group .table-actions .pane-header {
  background: #f5f5f5;
  border-right: 1px solid #fff;
  color: #666;
  font-size: 12.5px;
  margin-bottom: 15px;
  padding: 5px 12px;
  text-transform: uppercase;
}
.grid-group .table-actions .action-group-header {
  background: #f5f5f5;
  color: #666;
  font-size: 12.5px;
  margin: 15px 15px 15px 0;
  padding: 5px 12px;
  text-transform: uppercase;
}
.grid-group .table-actions .action-group-header .collapse-icon,
.grid-group .table-actions .action-group-header .expand-icon {
  margin-left: 10px;
  vertical-align: text-bottom;
  height: 17px;
  width: 12px;
}
.grid-group .table-actions .filter-on {
  color: #007dc5;
  padding: 0 15px 20px 15px;
  position: relative;
}
.grid-group .table-actions .filter-on .reset-filter {
  height: 16px;
  width: 16px;
  position: absolute;
  top: 0;
  right: 20px;
}
.grid-group .table-actions .action-group {
  padding: 0 15px 20px 15px;
}
.grid-group .table-actions .action-group .filter-criteria label {
  color: #666;
  font-size: 12.5px;
  margin-right: 5px;
  text-transform: uppercase;
}
.grid-group .table-actions .action-group .filter-criteria .date input {
  margin: 5px 0;
  width: 135px;
}
.grid-group .table-actions .action-group .filter-criteria .enum select {
  margin: 5px 0;
}
.grid-group .table-actions .action-group .filter-criteria .number input {
  margin: 5px 0;
  width: 100px;
}
.grid-group .table-actions .action-group .filter-criteria .string input {
  margin: 5px 0;
  width: 180px;
}
.grid-group .table-container {
  flex: 3 1 auto;
  display: flex;
  flex-flow: column nowrap;
  border-left: 1px solid #e5e5e5;
  min-width: 500px;
  position: relative;
}
.grid-group .table-container .grid-flexbox {
  flex: 1 1 auto;
  overflow: auto;
}
.grid-group .table-container .grid-flexbox .grid {
  width: 100%;
}
.grid-group .table-container .grid-flexbox .grid th {
  background: #f5f5f5;
  border-right: 1px solid #fff;
  color: #666;
  font-size: 12.5px;
  font-weight: normal;
  padding: 5px 10px;
  text-align: left;
  text-transform: uppercase;
}
.grid-group .table-container .grid-flexbox .grid th:last-of-type {
  border-right: none;
}
.grid-group .table-container .grid-flexbox .grid th.sort {
  position: relative;
}
.grid-group .table-container .grid-flexbox .grid th.sort .sort-order-icon {
  height: 10px;
  width: 10px;
  position: absolute;
  top: 8px;
  right: 8px;
}
.grid-group .table-container .grid-flexbox .grid tbody tr {
  border-bottom: 1px solid #e5e5e5;
}
.grid-group .table-container .grid-flexbox .grid tbody tr td {
  padding: 4px 10px;
  text-align: left;
}
.grid-group .table-container .grid-flexbox .grid tbody tr:first-of-type td {
  padding-top: 10px;
}
.grid-group .table-container .grid-flexbox .grid tbody tr:hover {
  background: #fafafa;
  color: #111;
}
.grid-group .table-container .grid-flexbox .grid tbody tr.selected {
  background: rgba(0, 125, 197, 0.14);
  color: #111;
}
.grid-group .table-container .table-counts {
  flex: 0 0 auto;
  background: #f5f5f5;
  border-width: 0 1px;
  border-style: solid;
  border-color: #fff;
  color: #666;
  padding: 2px 0 3px 0;
  position: sticky;
  right: 0;
  bottom: 0;
  left: 0;
}
.grid-group .table-container .table-counts .row-count {
  font-size: 12.5px;
  position: absolute;
  top: 4px;
  left: 10px;
}
.grid-group .table-container .table-counts .paging {
  font-size: 12.5px;
  text-align: center;
  width: 100%;
}
.grid-group .table-container .table-counts .paging .previous-page,
.grid-group .table-container .table-counts .paging .next-page {
  cursor: pointer;
  font-size: 14px;
  margin: 0 5px;
  padding: 0 5px;
  border-radius: 8px;
  position: relative;
  top: 1px;
}
.grid-group .current-selection {
  flex: 1 1 auto;
  border-left: 1px solid #e5e5e5;
  max-width: 400px;
  min-width: 250px;
  overflow: auto;
}
@media (max-width: 1200px) {
  .grid-group .current-selection {
    display: none;
  }
}
.grid-group .current-selection .pane-header {
  background: #f5f5f5;
  border-left: 1px solid #fff;
  color: #666;
  font-size: 12.5px;
  margin-bottom: 15px;
  padding: 5px 12px;
  text-transform: uppercase;
}
.grid-group .current-selection .selection-title-and-actions {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 0 15px;
}
.grid-group .current-selection .selection-title-and-actions .selection-title {
  flex: 0 0 auto;
  font-weight: bold;
}
.grid-group .current-selection .selection-title-and-actions .selection-actions {
  flex: 1 1 auto;
  text-align: right;
}
.grid-group .current-selection .selection-title-and-actions .selection-actions .delete-selection {
  height: 16px;
  width: 16px;
  margin-left: 12px;
}
.grid-group .current-selection .details-group-header {
  background: #f5f5f5;
  color: #666;
  font-size: 12.5px;
  margin: 15px 0 15px 15px;
  padding: 5px 12px;
  text-transform: uppercase;
}
.grid-group .current-selection .details-group-header .collapse-icon,
.grid-group .current-selection .details-group-header .expand-icon {
  margin-left: 10px;
  vertical-align: text-bottom;
  height: 17px;
  width: 12px;
}
.grid-group .current-selection .details-group {
  padding: 0 15px 20px 30px;
}
.label-and-value-list td {
  padding: 5px;
  vertical-align: top;
}
.label-and-value-list td:first-child {
  color: #aaa;
  font-size: 12.5px;
  text-transform: uppercase;
  padding-top: 7px;
}
.compact-list {
  width: 100%;
}
.compact-list thead tr {
  border: none;
}
.compact-list thead tr th {
  color: #007dc5;
  opacity: 0.7;
  font-size: 12.5px;
  font-weight: 400;
  padding: 3px 15px 3px 5px;
  text-align: left;
  vertical-align: bottom;
}
.compact-list tbody tr {
  border: 1px solid #f5f5f5;
}
.compact-list tbody tr td {
  font-size: 12.5px;
  padding: 3px 15px 3px 5px;
  text-align: left;
  vertical-align: top;
}
.loose-list {
  width: 100%;
}
.loose-list th {
  color: #aaa;
  font-size: 12.5px;
  font-weight: 400;
  padding: 0 10px 7px;
  text-align: left;
  text-transform: uppercase;
  vertical-align: bottom;
}
.loose-list td {
  padding: 4px 10px;
  text-align: left;
  vertical-align: top;
}
.loose-list .explain-blank-cell {
  color: #aaa;
}
.tab-row {
  border-bottom: 1px solid rgba(0, 125, 197, 0.25);
  display: block;
  padding: 0;
  margin: 0;
}
.tab-row .tab {
  border-color: #e5e5e5;
  border-radius: 8px 8px 4px 4px;
  border-style: solid;
  border-width: 1px 1px 0 1px;
  color: #aaa;
  cursor: pointer;
  display: inline-block;
  font-size: 12.5px;
  padding: 6px 8px 3px 8px;
  margin: 0 10px 2px 0;
  text-transform: uppercase;
}
.tab-row .tab:hover {
  background: rgba(0, 125, 197, 0.07);
  border-color: #00629c;
  color: #00629c;
}
.tab-row .tab:active {
  background: rgba(0, 125, 197, 0.14);
  border-color: #0c5480;
  color: #0c5480;
}
.tab-row .tab.selected {
  background: #fff;
  border-color: rgba(0, 125, 197, 0.25);
  color: #00629c;
  cursor: default;
  margin-bottom: -1px;
  padding-bottom: 6px;
}
#modal.alert-workflow-modal .modal-title .severity-icon {
  height: 20px;
  width: 20px;
  margin-right: 3px;
  position: relative;
  top: 4px;
}
#modal.alert-workflow-modal .modal-body .alert-history {
  border: 1px solid #f5f5f5;
  max-height: 400px;
  overflow-y: auto;
}
#modal.alert-workflow-modal .modal-body .alert-history table tr {
  border-width: 1px 0 0 0;
}
#modal.alert-workflow-modal .modal-body .alert-history table tr:first-child {
  border: none;
}
#modal.alert-workflow-modal .modal-body .alert-history table tr td:first-child {
  width: 150px;
}
#modal.alert-workflow-modal .modal-body .note-input textarea {
  min-height: 50px;
  height: 50px;
  max-height: 300px;
  max-width: 582px;
  min-width: 582px;
}
#modal.alert-workflow-modal .modal-body .note-input .note-cancel-save-buttons {
  margin-top: -5px;
  text-align: right;
}
#modal.alert-workflow-modal .modal-body .note-input .note-cancel-save-buttons .cancel-note,
#modal.alert-workflow-modal .modal-body .note-input .note-cancel-save-buttons .save-note {
  cursor: pointer;
  display: inline-block;
  border: 1px solid #e5e5e5;
  height: 20px;
  width: 20px;
  text-align: center;
}
#modal.alert-workflow-modal .modal-body .note-input .note-cancel-save-buttons .cancel-note img,
#modal.alert-workflow-modal .modal-body .note-input .note-cancel-save-buttons .save-note img {
  height: 14px;
  width: 14px;
  vertical-align: middle;
}
.entity-overview.account-overview .entity-details .flex-container .label-and-input-list,
.entity-overview.account-overview .entity-details .flex-container .label-and-value-list {
  flex: 1 1 auto;
  margin-right: 20px;
}
.entity-overview.account-overview .entity-details .flex-container .label-and-input-list label,
.entity-overview.account-overview .entity-details .flex-container .label-and-value-list label,
.entity-overview.account-overview .entity-details .flex-container .label-and-input-list td:first-child,
.entity-overview.account-overview .entity-details .flex-container .label-and-value-list td:first-child {
  width: 135px;
}
.entity-overview.account-overview .account-dashboard {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row wrap;
}
.entity-overview.account-overview .account-dashboard .cloud-services {
  flex: 1 1 auto;
  min-width: 420px;
  display: flex;
  flex-flow: column wrap;
}
.entity-overview.account-overview .account-dashboard .cloud-services .vx-system-health-monitoring {
  flex: 2 1 auto;
}
.entity-overview.account-overview .account-dashboard .cloud-services .clip-share {
  flex: 1 1 auto;
}
.entity-overview.account-overview .account-dashboard .cloud-services .extended-storage {
  flex: 1 1 auto;
}
.entity-overview.account-overview .account-dashboard .services-tenants-admin {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column wrap;
}
.entity-overview.account-overview .account-dashboard .services-tenants-admin .services {
  flex: 1 1 auto;
}
.entity-overview.account-overview .account-dashboard .services-tenants-admin .tenants-admin {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row wrap;
}
.entity-overview.account-overview .account-dashboard .services-tenants-admin .tenants-admin .tenants,
.entity-overview.account-overview .account-dashboard .services-tenants-admin .tenants-admin .admin-links {
  flex: 1 1 auto;
}
#accounts-list {
  display: flex;
  flex-flow: column nowrap;
}
#accounts-list .page-title,
#accounts-list .page-subtitle {
  flex: 0;
}
#accounts-list .grid-group {
  flex: 1 1 auto;
}
#modal.create-agent-and-key-modal .modal-body .agent-name-input {
  margin-left: 5px;
}
#modal.create-agent-and-key-modal .modal-body .label-and-value-list td:first-child {
  width: 100px;
}
#modal.create-agent-and-key-modal .modal-body .label-and-value-list .key {
  font-size: 12.5px;
  word-break: break-all;
}
#modal.create-agent-and-key-modal .modal-body .diagram {
  border: 1px solid #ade;
  border-radius: 8px;
  height: 165px;
  width: 800px;
  margin: 40px auto 20px auto;
  padding: 40px 0;
  text-align: center;
  position: relative;
}
#modal.create-agent-and-key-modal .modal-body .diagram .background-image {
  height: 165px;
  width: 90px;
}
#modal.create-agent-and-key-modal .modal-body .diagram .step-1-prefix,
#modal.create-agent-and-key-modal .modal-body .diagram .step-2-prefix {
  margin-right: 5px;
}
#modal.create-agent-and-key-modal .modal-body .diagram .step-1-prefix .completed-icon,
#modal.create-agent-and-key-modal .modal-body .diagram .step-2-prefix .completed-icon {
  vertical-align: top;
}
#modal.create-agent-and-key-modal .modal-body .diagram .step-1 {
  color: #666;
  display: inline-block;
  position: absolute;
  top: 50px;
  right: 460px;
  text-align: right;
}
#modal.create-agent-and-key-modal .modal-body .diagram .step-1.active {
  font-size: 14px;
  font-weight: 600;
}
#modal.create-agent-and-key-modal .modal-body .diagram .step-2 {
  color: #666;
  display: inline-block;
  position: absolute;
  top: 170px;
  right: 435px;
  text-align: right;
}
#modal.create-agent-and-key-modal .modal-body .diagram .step-2.active {
  font-size: 14px;
  font-weight: 600;
}
#modal.create-agent-and-key-modal .modal-body .diagram .step-3 {
  color: #666;
  display: inline-block;
  position: absolute;
  top: 110px;
  left: 410px;
  text-align: left;
}
#modal.create-agent-and-key-modal .modal-body .help-link {
  text-align: center;
}
#modal.delete-result-modal .result-icon {
  height: 20px;
  width: 20px;
  margin-right: 5px;
  position: relative;
  top: 5px;
}
#modal.delete-result-modal .result-text {
  color: #37b57e;
}
#modal.delete-safeguards-modal .modal-body {
  color: #333;
}
#modal.delete-safeguards-modal .modal-body .account-contents,
#modal.delete-safeguards-modal .modal-body .tenant-contents,
#modal.delete-safeguards-modal .modal-body .site-contents {
  padding-left: 20px;
}
.entities-list {
  display: flex;
  flex-flow: column nowrap;
}
.entities-list .page-title,
.entities-list .page-subtitle {
  flex: 0;
}
.entities-list .grid-group {
  flex: 1 1 auto;
}
.change-site {
  margin-left: 25px;
}
.entity-overview {
  display: flex;
  flex-flow: column nowrap;
}
.entity-overview .page-title,
.entity-overview .page-subtitle {
  flex: 0;
}
.entity-overview .delete-entity {
  height: 16px;
  width: 16px;
  position: absolute;
  top: 12px;
  right: 10px;
}
.entity-overview .overview {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
}
.entity-overview .overview .entity-details {
  flex: 0 0 auto;
  position: relative;
}
.entity-overview .overview .entity-details .collapse-icon,
.entity-overview .overview .entity-details .expand-icon {
  height: 17px;
  width: 12px;
  margin-left: 10px;
  vertical-align: text-bottom;
}
.entity-overview .overview .entity-details .edit-entity-details {
  height: 16px;
  width: 16px;
  position: absolute;
  top: 42px;
  right: 15px;
}
.entity-overview .overview .entity-details .flex-container {
  display: flex;
  flex-flow: row wrap;
}
.entity-overview .overview .entity-details .form-error {
  color: #eb6524;
  text-align: center;
}
.entity-overview .overview .entity-details .button-row-centered {
  margin: 15px 0;
}
.entity-overview .overview .entity-dashboard {
  flex: 1 1 auto;
  display: flex;
}
#device-overview .entity-details .flex-container .label-and-value-list {
  flex: 1 1 auto;
  margin-right: 50px;
}
#device-overview .entity-details .flex-container .label-and-value-list td:first-child {
  width: 80px;
}
#device-overview .entity-details .flex-container .label-and-value-list .change-site {
  margin-left: 25px;
}
#login-page .branding .logo {
  display: block;
  width: 400px;
  margin: auto;
}
#login-page .branding .name {
  display: block;
  width: 450px;
  margin: 50px auto;
}
#login-page .credentials {
  text-align: center;
  width: 100%;
  position: fixed;
  top: 450px;
}
#login-page .credentials .login-error {
  color: #eb6524;
}
#site-overview {
  display: flex;
  flex-flow: column nowrap;
}
#site-overview .page-title,
#site-overview .page-subtitle {
  flex: 0;
}
#site-overview .delete-site {
  height: 16px;
  width: 16px;
  position: absolute;
  top: 12px;
  right: 10px;
}
#site-overview .overview {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
}
#site-overview .overview .site-details {
  flex: 0 0 auto;
  position: relative;
}
#site-overview .overview .site-details .section-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-right: 60px;
}
#site-overview .overview .site-details .section-content .label-and-input-list,
#site-overview .overview .site-details .section-content .label-and-value-list {
  flex: 1 1 auto;
  margin-right: 20px;
}
#site-overview .overview .site-details .section-content .label-and-input-list label,
#site-overview .overview .site-details .section-content .label-and-value-list label,
#site-overview .overview .site-details .section-content .label-and-input-list td:first-child,
#site-overview .overview .site-details .section-content .label-and-value-list td:first-child {
  width: 135px;
}
#site-overview .overview .site-details .form-error {
  color: #eb6524;
  text-align: center;
}
#site-overview .overview .site-details .button-row-centered {
  margin: 15px 0;
}
#site-overview .overview .site-details .edit-site-details {
  height: 16px;
  width: 16px;
  position: absolute;
  top: 42px;
  right: 15px;
}
#site-overview .overview .status-sections-flex-container {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row wrap;
}
#site-overview .overview .status-sections-flex-container .counts {
  flex: 0;
  min-width: 200px;
}
#site-overview .overview .status-sections-flex-container .alerts {
  flex: 1 1 auto;
  min-width: 400px;
}
#site-overview .overview .status-sections-flex-container .events {
  flex: 1 1 auto;
  min-width: 400px;
}
#sites-list {
  display: flex;
  flex-flow: column nowrap;
}
#sites-list .page-title,
#sites-list .page-subtitle {
  flex: 0;
}
#sites-list .grid-group {
  flex: 1 1 auto;
}
.entity-overview.tenant-overview .entity-details .flex-container .label-and-input-list,
.entity-overview.tenant-overview .entity-details .flex-container .label-and-value-list {
  flex: 1 1 auto;
  margin-right: 20px;
}
.entity-overview.tenant-overview .entity-details .flex-container .label-and-input-list label,
.entity-overview.tenant-overview .entity-details .flex-container .label-and-value-list label,
.entity-overview.tenant-overview .entity-details .flex-container .label-and-input-list td:first-child,
.entity-overview.tenant-overview .entity-details .flex-container .label-and-value-list td:first-child {
  width: 135px;
}
.entity-overview.tenant-overview .tenant-dashboard {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row wrap;
}
.entity-overview.tenant-overview .tenant-dashboard .cloud-services {
  flex: 1 1 auto;
  min-width: 420px;
  display: flex;
  flex-flow: column nowrap;
}
.entity-overview.tenant-overview .tenant-dashboard .cloud-services .vx-system-health-monitoring {
  flex: 1 1 auto;
  max-height: 300px;
}
.entity-overview.tenant-overview .tenant-dashboard .cloud-services .clip-share {
  flex: 1 1 auto;
}
.entity-overview.tenant-overview .tenant-dashboard .cloud-services .extended-storage {
  flex: 1 1 auto;
}
.entity-overview.tenant-overview .tenant-dashboard .agents {
  flex: 1 1 auto;
  min-width: 630px;
}
.entity-overview.tenant-overview .tenant-dashboard .admin-links {
  flex: 1 1 auto;
  max-width: 250px;
}
#tenants-list {
  display: flex;
  flex-flow: column nowrap;
}
#tenants-list .page-title,
#tenants-list .page-subtitle {
  flex: 0;
}
#tenants-list .grid-group {
  flex: 1 1 auto;
}
#user-dashboard {
  display: flex;
  flex-flow: column nowrap;
}
#user-dashboard .page-title,
#user-dashboard .page-subtitle {
  flex: 0;
}
#user-dashboard .dashboard {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row wrap;
}
#user-dashboard .dashboard .alerts {
  flex: 2 1 auto;
  min-width: 425px;
}
#user-dashboard .dashboard .events {
  flex: 1 1 auto;
  min-width: 425px;
}
.entity-overview.vx-system-overview .entity-details .flex-container .label-and-value-list {
  flex: 1 1 auto;
  margin-right: 50px;
}
.entity-overview.vx-system-overview .entity-details .flex-container .label-and-value-list td:first-child {
  width: 80px;
}
.entity-overview.vx-system-overview .vx-system-health {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
}
.entity-overview.vx-system-overview .vx-system-health .section-header {
  flex: 0 0 auto;
}
.entity-overview.vx-system-overview .vx-system-health .section-content {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row nowrap;
}
.entity-overview.vx-system-overview .vx-system-health .section-content .health-area-summaries {
  flex: 0 0 auto;
  width: 370px;
  overflow: auto;
}
.entity-overview.vx-system-overview .vx-system-health .section-content .health-area-summaries .area {
  cursor: pointer;
}
.entity-overview.vx-system-overview .vx-system-health .section-content .health-area-summaries .area .area-header {
  border-color: transparent transparent #e5e5e5 transparent;
  border-style: solid;
  border-width: 1px;
  color: #007dc5;
  font-size: 12.5px;
  margin-top: 15px;
  padding: 2px 10px;
  text-transform: uppercase;
  width: 305px;
  position: relative;
}
.entity-overview.vx-system-overview .vx-system-health .section-content .health-area-summaries .area .area-header .header-to-drill-in-arrow {
  display: none;
}
.entity-overview.vx-system-overview .vx-system-health .section-content .health-area-summaries .area .area-summary {
  border: 1px solid transparent;
  padding: 15px 10px;
  width: 305px;
}
.entity-overview.vx-system-overview .vx-system-health .section-content .health-area-summaries .area .area-summary .summary-icon {
  display: inline-block;
  height: 40px;
  width: 40px;
  margin-right: 15px;
  vertical-align: top;
}
.entity-overview.vx-system-overview .vx-system-health .section-content .health-area-summaries .area .area-summary .summary-metrics {
  display: inline-block;
}
.entity-overview.vx-system-overview .vx-system-health .section-content .health-area-summaries .area:hover .area-header {
  background: rgba(0, 125, 197, 0.07);
  border-color: rgba(0, 125, 197, 0.14);
  color: #00629c;
  font-style: italic;
}
.entity-overview.vx-system-overview .vx-system-health .section-content .health-area-summaries .area:hover .area-summary {
  border-color: transparent rgba(0, 125, 197, 0.14) rgba(0, 125, 197, 0.14) rgba(0, 125, 197, 0.14);
}
.entity-overview.vx-system-overview .vx-system-health .section-content .health-area-summaries .area:active .area-header {
  background: rgba(0, 125, 197, 0.14);
  color: #0c5480;
}
.entity-overview.vx-system-overview .vx-system-health .section-content .health-area-summaries .area.selected {
  cursor: default;
}
.entity-overview.vx-system-overview .vx-system-health .section-content .health-area-summaries .area.selected .area-header {
  background: rgba(0, 125, 197, 0.14);
  border-color: #fff #fff #fff transparent;
  color: #0c5480;
  width: 334px;
  transition: width 0.3s linear;
}
.entity-overview.vx-system-overview .vx-system-health .section-content .health-area-summaries .area.selected .area-header .header-to-drill-in-arrow {
  display: inline-block;
  opacity: 0.14;
  position: absolute;
  top: 0;
  right: -10px;
}
.entity-overview.vx-system-overview .vx-system-health .section-content .selected-health-area-drill-in {
  flex: 1 1 auto;
  border: 15px solid rgba(0, 125, 197, 0.14);
  margin: -15px -15px -15px -5px;
  padding: 15px;
  overflow: auto;
  width: 300px;
}
.entity-overview.vx-system-overview .vx-system-health .section-content .selected-health-area-drill-in .look-like-thead {
  border: none;
}
.entity-overview.vx-system-overview .vx-system-health .section-content .selected-health-area-drill-in .look-like-thead td {
  color: rgba(0, 125, 197, 0.75);
  font-size: 12.5px;
  font-weight: 400;
  padding: 20px 15px 3px 5px;
  text-align: left;
  vertical-align: top;
}
.entity-overview.vx-system-overview .vx-system-health .section-content .selected-health-area-drill-in .licenses-alerts-table td:first-child,
.entity-overview.vx-system-overview .vx-system-health .section-content .selected-health-area-drill-in .cameras-alerts-table td:first-child,
.entity-overview.vx-system-overview .vx-system-health .section-content .selected-health-area-drill-in .storage-alerts-table td:first-child,
.entity-overview.vx-system-overview .vx-system-health .section-content .selected-health-area-drill-in .system-alerts-table td:first-child {
  width: 14px;
}
.entity-overview.vx-system-overview .vx-system-health .section-content .selected-health-area-drill-in .licenses-alerts-table td:nth-of-type(2),
.entity-overview.vx-system-overview .vx-system-health .section-content .selected-health-area-drill-in .cameras-alerts-table td:nth-of-type(2),
.entity-overview.vx-system-overview .vx-system-health .section-content .selected-health-area-drill-in .storage-alerts-table td:nth-of-type(2),
.entity-overview.vx-system-overview .vx-system-health .section-content .selected-health-area-drill-in .system-alerts-table td:nth-of-type(2),
.entity-overview.vx-system-overview .vx-system-health .section-content .selected-health-area-drill-in .licenses-alerts-table td:nth-of-type(3),
.entity-overview.vx-system-overview .vx-system-health .section-content .selected-health-area-drill-in .cameras-alerts-table td:nth-of-type(3),
.entity-overview.vx-system-overview .vx-system-health .section-content .selected-health-area-drill-in .storage-alerts-table td:nth-of-type(3),
.entity-overview.vx-system-overview .vx-system-health .section-content .selected-health-area-drill-in .system-alerts-table td:nth-of-type(3) {
  white-space: nowrap;
}
.entity-overview.vx-system-overview .vx-system-health .section-content .selected-health-area-drill-in .cameras-grid-icon img,
.entity-overview.vx-system-overview .vx-system-health .section-content .selected-health-area-drill-in .cameras-list-icon img {
  height: 16px;
  width: 16px;
  margin: 0 0 -3px 5px;
  cursor: pointer;
}
.entity-overview.vx-system-overview .vx-system-health .section-content .selected-health-area-drill-in .camera-tile {
  display: inline-block;
  height: 220px;
  width: 300px;
  margin: 0 30px 30px 0;
}
.entity-overview.vx-system-overview .vx-system-health .section-content .selected-health-area-drill-in .camera-tile .thumbnail {
  max-height: 200px;
  max-width: 300px;
  margin-bottom: 5px;
  vertical-align: text-bottom;
}
.entity-overview.vx-system-overview .vx-system-health .section-content .selected-health-area-drill-in .reports {
  display: flex;
  flex-flow: column nowrap;
}
.entity-overview.vx-system-overview .vx-system-health .section-content .selected-health-area-drill-in .reports .run-reports {
  flex: 0 0 auto;
  display: flex;
  flex-flow: row nowrap;
}
.entity-overview.vx-system-overview .vx-system-health .section-content .selected-health-area-drill-in .reports .run-reports .report-templates {
  flex: 0 0 auto;
  padding-left: 20px;
  width: 200px;
}
.entity-overview.vx-system-overview .vx-system-health .section-content .selected-health-area-drill-in .reports .run-reports .report-templates .template {
  border-bottom: 1px solid #fff;
  color: #007dc5;
  cursor: pointer;
  margin-bottom: 15px;
  padding: 2px 10px;
}
.entity-overview.vx-system-overview .vx-system-health .section-content .selected-health-area-drill-in .reports .run-reports .report-templates .template:hover {
  color: #00629c;
}
.entity-overview.vx-system-overview .vx-system-health .section-content .selected-health-area-drill-in .reports .run-reports .report-templates .template:active {
  color: #0c5480;
}
.entity-overview.vx-system-overview .vx-system-health .section-content .selected-health-area-drill-in .reports .run-reports .report-templates .template.selected {
  background: rgba(0, 125, 197, 0.14);
  border-color: rgba(0, 125, 197, 0.14);
  color: #0c5480;
  cursor: default;
  font-style: italic;
  padding: 2px 10px;
}
.entity-overview.vx-system-overview .vx-system-health .section-content .selected-health-area-drill-in .reports .run-reports .report-templates .template.selected .highlight-clickable-text:hover,
.entity-overview.vx-system-overview .vx-system-health .section-content .selected-health-area-drill-in .reports .run-reports .report-templates .template.selected .highlight-clickable-text:active {
  background: none;
  cursor: default;
}
.entity-overview.vx-system-overview .vx-system-health .section-content .selected-health-area-drill-in .reports .run-reports .report-options {
  flex: 1 1 auto;
}
.entity-overview.vx-system-overview .vx-system-health .section-content .selected-health-area-drill-in .reports .run-reports .report-options .template-options {
  border-color: #fff #fff rgba(0, 125, 197, 0.14) rgba(0, 125, 197, 0.14);
  border-style: solid;
  border-width: 1px;
  margin-right: 20px;
  padding: 0 0 20px 20px;
}
.entity-overview.vx-system-overview .vx-system-health .section-content .selected-health-area-drill-in .reports .run-reports .report-options .template-options .options-column {
  display: inline-block;
  font-size: 12.5px;
  margin-right: 50px;
  vertical-align: top;
}
.entity-overview.vx-system-overview .vx-system-health .section-content .selected-health-area-drill-in .reports .run-reports .report-options .template-options .options-column .options-column-heading {
  margin-bottom: 5px;
}
.entity-overview.vx-system-overview .vx-system-health .section-content .selected-health-area-drill-in .reports .past-reports {
  flex: 1 1 auto;
  min-width: 500px;
}
.entity-overview.vx-system-overview .vx-system-health .section-content .selected-health-area-drill-in .reports .past-reports .past-reports-table td:last-child {
  width: 14px;
}
.entity-overview.vx-system-overview .vx-system-health .section-content .selected-health-area-drill-in .alert-rules .compact-list {
  margin-bottom: 15px;
}
.entity-overview.vx-system-overview .vx-system-health .section-content .selected-health-area-drill-in .alert-rules .compact-list tr {
  border: none;
}
.entity-overview.vx-system-overview .vx-system-health .section-content .selected-health-area-drill-in .alert-rules .compact-list td:first-child {
  width: 210px;
  vertical-align: middle;
}
.entity-overview.vx-system-overview .vx-system-health .section-content .selected-health-area-drill-in .alert-rules .compact-list .email-recipients {
  width: 450px;
}
.entity-overview.vx-system-overview .vx-system-health .section-content .selected-health-area-drill-in .alert-rules .compact-list .text-recipients {
  width: 300px;
}
